{erl_opts,
 [
  debug_info, warn_obsolete_guard, warn_unused_import
 ]}.

{deps,
 [
  %% These are tested version of our deps.
  %% Please send a pull request if you test with newer.
  {newrelic, ".*",
   {git,"git://github.com/wooga/newrelic-erlang.git",
    "169248956c669b773ec7641fd56e14484155681b"}},
  {statman, ".*",
   {git,"git://github.com/knutin/statman.git",
    "20fed71921aad31dd657cc895b9ef725b46526ad"}}
 ]}.
